<!DOCTYPE html>
<html lang="en" data-ng-app="todoListApp">
<head>
    <meta charset="UTF-8">
    <title>To Do List App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="app.js"></script>
    <script src="controllers/navbarController.js"></script>
    <script src="controllers/tasksController.js"></script>
    <script src="controllers/addTaskController.js"></script>
    <script src="controllers/previewTaskController.js"></script>
    <script src="services/s1.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse" data-ng-controller="NavbarController">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">To Do App</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li data-ng-repeat="nav in navbar" data-ng-class="{'active': isActiveUrl(nav.url)}">
                        <a href="{{ baseUrl + nav.url }}">{{ nav.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<div data-ng-view></div>

</body>
</html>