<div class="container" data-ng-controller="AddTaskController">
    <h2>Add New Task Page</h2>

    <div data-ng-show="showAlert" data-ng-class="getAlertStyle()">
        <strong>{{ alert.header }}!</strong> {{ alert.message }}
    </div>

    <form name="form" class="css-form">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" data-ng-model="newTask.name" class="form-control">
        </div>
        <div class="form-group">
            <label for="name">Short Description</label>
            <input type="text" id="description" name="description" data-ng-model="newTask.description" class="form-control">
        </div>
        <div class="checkbox">
            <label><input type="checkbox" data-ng-model="newTask.done"> Already done?</label>
        </div>
        <button class="btn btn-success" data-ng-click="addTask()">Add task</button>
    </form>
</div>