<div class="container" data-ng-controller="TasksController">
    <h2>Available Tasks Page</h2>

    <div class="navbar-form navbar-left">
        <div class="input-group">
            <label data-ng-repeat="option in search.searchOptions" class="radio-inline">
                <input type="radio" data-ng-model="search.type" name="searchType" value="{{ option.value }}">{{
                option.name }}
            </label>
        </div>
        <div class="input-group">
            <input type="text" data-ng-model="search.word" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th data-ng-click="sortColumns('done')"><i class="glyphicon glyphicon-ok"></i></th>
            <th data-ng-click="sortColumns('name')">Task Name</th>
            <th data-ng-click="sortColumns('description')">Task Description</th>
            <th data-ng-click="sortColumns('date')">Date</th>
            <th>Do smth</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="task in filteredTasks = (tasks | filter:search.word | filter:filterTasks(search.type))
                                                    | orderBy:sorting.sortColumn:sorting.sortDirection">
            <td><input type="checkbox" data-ng-model="task.done"></td>
            <td data-ng-show="!isEditable(task.id)">{{ task.name }}</td>
            <td data-ng-show="!isEditable(task.id)">{{ task.description }}</td>
            <td data-ng-show="isEditable(task.id)"><input ng-model="task.name"></td>
            <td data-ng-show="isEditable(task.id)"><input ng-model="task.description"></td>
            <td>{{ task.date | date:"dd.MM.yyyy HH:mm"}}</td>
            <td>
                    <a href="{{ baseUrl }}#!/preview{{task.id}}" class="btn btn-xs btn-success">Preview</a>
                    <a ng-if="isEditable(task.id)" data-ng-click="editTask(-1)" class="btn btn-xs btn-info"> Save </a>
                    <a ng-if="!isEditable(task.id)" data-ng-click="editTask(task.id)"
                       class="btn btn-xs btn-info"> Edit </a>
                    <a data-ng-click="removeTask(task.id)" class="btn btn-xs btn-danger">Remove</a>
            </td>
        </tr>
        <tr>
            <td colspan="5">Size: {{ filteredTasks.length }}</td>
        </tr>
        </tbody>
    </table>

    <a data-ng-click="synchronize()" class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i>Synchronise</a>

    <hr>
    <pre>{{ tasks | orderBy:sorting.sortColumn:sorting.sortDirection | json }}</pre>
</div>
