<div class="container" data-ng-controller="PreviewTaskController">
    <h2>Preview Task #{{ task.id }}</h2>

    <div class="panel panel-primary">
        <div class="panel-heading">{{ task.name }}</div>
        <div class="panel-body">
            <b>Description:</b>
            <p>{{ task.description }}</p>
            <b>Date:</b>
            <p>{{ task.date | date : "MM/dd/yyyy"}}</p>
            <b>Status:</b>
            <p>{{ task.done ? "Done" : "In progress" }}</p>
        </div>
    </div>
</div>